@font-face {
  font-family: "Myriad-pro";
  src: url("../fonts/MyriadPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad-pro";
  src: url("../fonts/MyriadPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Myriad-pro";
  src: url("../fonts/MyriadPro-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Myriad-pro";
  src: url("../fonts/MyriadPro-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Myriad-pro";
  src: url("../fonts/myriadpro-black.ttf");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Myriad-pro;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.container {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

/*TEXT*/
.heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #008DCD;
  border-radius: 30px;
  padding: 16px 96px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.btn:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
          box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
}

/*notifications*/
.notific__footer {
  color: #9E9E9E;
}

.notific-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-left: 16px;
}

/* checkbox */
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
}

.checkbox + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0px;
  width: 10px;
  height: 10px;
  border-color: initial;
  border: 1px solid;
  background: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.checkbox + label:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: #FFCC00;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.checkbox:checked + label:after {
  opacity: 1;
}

/*SLIDER COMTROLL*/
.slider__arrows {
  cursor: pointer;
}

.slider__arrows:hover path {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  stroke: #008DCD;
}

header {
  background-image: url(../img/main_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* header */
.header {
  padding-top: 29px;
  padding-bottom: 155px;
  color: #fff;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__nav-item {
  margin-left: 60px;
}

.header__nav-item:first-child {
  margin-left: 0px;
}

.header__nav-link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__nav-link:hover {
  text-shadow: 0 0 2.5px #FFFFFF, 0 0 2.5px #FFFFFF;
}

.header__nav-mobile {
  display: none;
}

.header__offer {
  padding-top: 88px;
}

.header__offer-heading {
  padding-bottom: 44px;
}

.header__offer-title {
  padding-bottom: 52px;
}

.header__offer_mobile {
  display: none;
}

.description {
  background-color: #F7F7F7;
}

.description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 59px;
}

.description__content {
  margin-top: 30px;
  padding-right: 60px;
}

.description__title {
  padding-bottom: 34px;
}

.description__text {
  padding-bottom: 36px;
}

.step {
  padding-top: 70px;
  padding-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 460px 460px;
      grid-template-columns: 460px 460px;
  grid-gap: 30px 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step__item-content {
  width: 460px;
}

.step__title {
  padding-bottom: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.step__texr {
  font-size: 20px;
  line-height: 24px;
}

.step__img {
  padding-bottom: 41px;
}

.call-step {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call {
  background-color: #008DCD;
  padding-top: 73px;
  padding-bottom: 39px;
}

.call__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.call__heading {
  padding-bottom: 30px;
}

.call__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 23px;
}

.call__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.call__input {
  background-color: #008DCD;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  padding: 18px 21px;
  outline: none;
  margin-bottom: 9px;
}

.call__input::-webkit-input-placeholder {
  color: #fff;
}

.call__input:-ms-input-placeholder {
  color: #fff;
}

.call__input::-ms-input-placeholder {
  color: #fff;
}

.call__input::placeholder {
  color: #fff;
}

.call__btn {
  color: #363636;
  background-color: #FFCC00;
  border: 1px solid #FFCC00;
  margin-bottom: 14px;
  font-weight: 700;
}

.call__btn:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
          box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
}

.review {
  padding-top: 69px;
  padding-bottom: 57px;
}

.review__title {
  text-transform: uppercase;
  padding-bottom: 70px;
}

.review__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__wrapper {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.review__slide {
  width: 460px;
}

.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
}

.review__about {
  margin-left: 40px;
}

.review__about_name {
  font-weight: 400;
  padding-bottom: 18px;
}

.review__about_company {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 8px;
}

.review__about_text {
  padding-bottom: 6px;
}

.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F7F7F7;
}

.advantages__title {
  margin-bottom: 40px;
  text-transform: uppercase;
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  width: 166px;
}

.advantages__img {
  height: 160px;
  margin-bottom: 34px;
}

.advantages__text {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.warranty {
  padding-top: 80px;
  padding-bottom: 64px;
}

.warranty__title {
  text-transform: uppercase;
  margin-bottom: 40px;
}

.warranty__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.warranty__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
  width: 360px;
}

.warranty__item-img {
  margin-bottom: 25px;
}

.warranty__item-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}

.warranty__item-btn {
  display: block;
  text-align: center;
}

.warranty__slider {
  display: none;
}

.faq {
  background-color: #D2ECF7;
  padding-top: 64px;
  padding-bottom: 59px;
}

.faq__title {
  text-transform: uppercase;
  margin-bottom: 34px;
}

.faq__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 16px 29px;
}

.faq__item-heading {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 30px;
  background-color: #fff;
  border-radius: 30px 30px 0px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.faq__item-heading:not(.active-item) {
  border-radius: 30px;
}

.faq__item-heading::after {
  content: "";
  width: 22px;
  height: 10px;
  margin-left: 75px;
  background-image: url(../img/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.faq__item-heading:not(.active-item)::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.faq__item-content {
  padding: 20px 30px;
  background-color: #F7F7F7;
  border-radius: 0px 0px 30px 30px;
  display: block;
}

.faq__item-content:not(.show-item) {
  display: none;
}

.partners {
  padding-top: 59px;
  padding-bottom: 50px;
}

.partners__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__items > a:not(:last-child) {
  margin-right: 33px;
}

footer {
  background: #E9E9E9;
  padding-top: 31px;
  padding-bottom: 22px;
}

.footer__burger-menu {
  display: none;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 9px;
}

.footer__form-input {
  width: 362px;
  height: 50px;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  background: none;
  padding: 18px 30px;
  border-radius: 30px;
  border: 1px solid #363636;
  margin-right: 30px;
  margin-bottom: 9px;
  outline: none;
}

.footer__form-btn {
  width: 362px;
}

.footer__form-text {
  color: #9E9E9E;
}

.footer__line {
  height: 1px;
  width: 1170px;
  margin-left: -5px;
  background-color: #C4C4C4;
}

.footer__menu {
  padding-top: 19px;
  padding-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  margin-right: 77px;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__link:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.footer__link:last-child {
  margin-right: 0px;
}

.footer__copy {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
}

.year {
  margin-left: 68px;
}

.footer__icons {
  margin-left: 160px;
  margin-right: 350px;
}

.footer__icons > a:not(:last-child) {
  margin-right: 29px;
}

/* mobile hor 425px */
@media screen and (max-width: 1200px) {
  .container {
    width: 700px;
  }
  .btn {
    padding: 17px 35px;
    width: 280px;
  }
  .header {
    padding-bottom: 60px;
  }
  .heading {
    font-size: 26px;
    line-height: 31px;
  }
  .logo {
    width: 100px;
  }
  .navbar__link {
    padding-left: 30px;
    font-size: 14px;
    line-height: 17px;
  }
  .offer {
    width: 400px;
    padding-top: 55px;
  }
  .offer__title {
    font-size: 44px;
    line-height: 53px;
    padding-bottom: 40px;
  }
  .offer__text {
    font-size: 28px;
    line-height: 34px;
  }
  .description__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 25px;
    padding-bottom: 61px;
    position: relative;
  }
  .discription__heading {
    display: none;
  }
  .discription__heading-tablet {
    display: block;
    position: absolute;
    left: 0;
  }
  .discription__contant {
    margin-top: 56px;
    margin-left: 0px;
    margin-right: 22px;
    width: 280px;
  }
  .description__img {
    width: 398px;
    margin-left: 0px;
    margin-top: 45px;
  }
  .discription__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 31px;
  }
  .step__items {
    padding-top: 38px;
    padding-bottom: 56px;
    grid-gap: 36px 80px;
  }
  .step__item {
    height: 317px;
  }
  .step__img {
    width: 280px;
    padding-bottom: 25px;
  }
  .step__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
  }
  .step__text {
    font-size: 16px;
    line-height: 19px;
  }
  .step-care {
    padding: 30px 0px;
  }
  .step-care__title {
    font-size: 28px;
    line-height: 34px;
    width: 380px;
  }
  .call__content {
    padding: 32px 0px;
  }
  .call__left {
    width: 300px;
  }
  .call__title {
    font-size: 28px;
    line-height: 34px;
  }
  .call__text {
    font-size: 14px;
    line-height: 13px;
  }
  .call__form {
    width: 289px;
  }
  .call__input {
    border-radius: 30px;
    padding: 18px 17px;
  }
  .review {
    padding: 51px 0px;
  }
  .review__slider {
    margin-top: 31px;
  }
  .review__item {
    width: 280px;
    margin-right: 20px;
  }
  .review__content {
    margin-bottom: 10px;
  }
  .review__photo {
    width: 100px;
    height: 100px;
  }
  .review-about {
    margin-left: 18px;
  }
  .review-about__name {
    padding-bottom: 6px;
  }
  .review-about__company {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 4px;
  }
  .review__text {
    font-size: 10px;
    line-height: 12px;
  }
  .review-about__text {
    padding-bottom: 4px;
  }
  .slider__arrows {
    width: 17px;
  }
  .advantages {
    padding: 37px 0px;
  }
  .advantages__item {
    width: 100px;
    margin-right: 20px;
  }
  .advantages__imgs {
    height: 100px;
    margin-bottom: 16px;
  }
  .advantages__text {
    font-size: 12px;
    line-height: 14px;
  }
  .warranty {
    padding: 42px 0;
  }
  .warranty__items {
    padding-top: 17px;
  }
  .warranty__item {
    height: 305px;
    width: 220px;
    margin-right: 15px;
  }
  .warranty__imgs {
    height: 100px;
  }
  .warranty__title {
    margin-top: 18px;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 8px;
  }
  .warranty__text {
    font-size: 12px;
    line-height: 14px;
  }
  .warranty__btn {
    width: 220px;
  }
  .faq__body {
    padding-top: 41px;
    padding-bottom: 39px;
  }
  .faq__items {
    margin-top: 29px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 9px;
  }
  .faq__item {
    padding-bottom: 0px;
  }
  .faq__text {
    width: inherit;
  }
  .faq__icon {
    margin-left: 60px;
  }
  .faq__drop {
    border-radius: 200px 200px 200px 200px;
    padding-right: 30px;
    padding-left: 30px;
    height: 48px;
  }
  .partners {
    padding-top: 22px;
    padding-bottom: 38px;
  }
  .partners__items > a:not(:last-child) {
    margin-right: 10px;
  }
  .partners__items > a > img {
    width: 66px;
  }
  footer {
    padding-top: 33px;
    padding-bottom: 14px;
  }
  .footer__line {
    width: 700px;
  }
  .footer__heading {
    font-size: 20px;
    line-height: 24px;
  }
  .footer__logo {
    width: 100px;
  }
  .footer__link {
    margin-right: 32px;
    font-size: 14px;
    line-height: 17px;
  }
  .footer__form {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__form-input {
    width: 220px;
    height: 48px;
    font-size: 14px;
    line-height: 17px;
    padding: 18px 18px;
    margin-right: 20px;
    margin-bottom: 7px;
  }
  .footer__form-btn {
    height: 48px;
    padding: 16px 0px;
    width: 220px;
  }
  .footer__copy {
    padding-top: 15px;
  }
  .footer__text {
    font-size: 12px;
    line-height: 14px;
  }
  .year {
    margin-left: 15px;
  }
  .footer__icons {
    margin-left: 75px;
    margin-right: 190px;
  }
  .footer__icons > a:not(:last-child) {
    margin-right: 16px;
  }
  .footer__icons > a > img {
    width: 13px;
  }
}

@media screen and (max-width: 767px) {
  header {
    background-position-x: -380px;
  }
  .header {
    padding-top: 38px;
    padding-bottom: 221px;
  }
  .container {
    width: 280px;
  }
  .navbar {
    display: none;
  }
  .burge-menu {
    display: block;
  }
  .offer {
    display: none;
  }
  .offer_mobile {
    display: block;
    background-color: #fff;
    padding-top: 22px;
    padding-bottom: 27px;
  }
  .offer_mobile__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 8px;
  }
  .offer_mobile__text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    margin-bottom: 17px;
  }
  .discription__heading-tablet {
    display: none;
  }
  .description__item {
    padding: 17px 0px;
    position: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .description__img {
    width: 278px;
    margin-top: 0px;
  }
  .discription__heading {
    font-size: 17px;
    line-height: 22px;
    display: block;
    padding-bottom: 10px;
  }
  .discription__text {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 0;
    margin-bottom: 12px;
  }
  .discription__contant {
    margin-top: 26px;
    margin-right: 0;
  }
  .step__items {
    padding-top: 69px;
    padding-bottom: 32px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 36px 140px;
  }
  .step-care {
    padding: 23px 0;
  }
  .step-care__title {
    width: inherit;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 9px;
  }
  .step-care__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .call__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 0 7px;
  }
  .call__title {
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 11px;
  }
  .call__text {
    font-size: 14px;
    line-height: 13px;
    margin-bottom: 14px;
  }
  .call__left {
    width: inherit;
  }
  .call__form {
    width: inherit;
  }
  .review__item:last-child {
    display: none;
  }
  .advantages {
    padding: 23px 0 30px;
  }
  .advantages__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 13px;
  }
  .advantages__item {
    width: 79px;
    margin-right: 14px;
  }
  .warranty__items {
    display: none;
  }
  .footer__burger-menu {
    display: block;
  }
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__line {
    width: 290px;
  }
  .footer__navbar {
    display: none;
  }
  .footer__copy {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__icons {
    display: none;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 14px 40px;
  background: #fff;
  border-radius: 32px;
}

.modal__close {
  height: 15px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.modal__close:hover path {
  fill: #FFCC00;
}

.modal__heading {
  margin-top: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.modal__form {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  color: #008DCD;
  font-size: 16px;
  line-height: 19px;
  padding: 18px 21px;
  border: 1px solid #008DCD;
  border-radius: 30px;
  margin-bottom: 13px;
  outline: none;
}

.modal__btn {
  margin-bottom: 33px;
}

.active-modal {
  display: block;
}
/*# sourceMappingURL=style.css.map */