.description {
  background-color: #F7F7F7;

  &__wraper {
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 59px;
  }

  &__content {
    margin-top: 30px;
    padding-right: 60px;
  }

  &__title {
    padding-bottom: 34px;
  }

  &__text {
    padding-bottom: 36px;
  }

}


