.faq {
  background-color: #D2ECF7;
  padding-top: 64px;
  padding-bottom: 59px;

  &__title {
    text-transform: uppercase;
    margin-bottom: 34px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 16px;
  }

  &__item {
    width: 560px;

    &-heading {
      position: relative;
      height: 60px;

      display: grid;
      grid-template-columns: 408px auto;
      align-items: center;
      justify-content: space-between;

      background-color: $color__white;
      padding-left: 30px;
      padding-right: 30px;

      border-top-left-radius: 30px;
      border-top-right-radius: 30px;

      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      user-select: none;
      cursor: pointer;
      transition: 0.15s;

      &::after {
        content: '';
        width: 18px;
        height: 10px;

        background-image: url(../img/Rectangle.svg);
        background-repeat: no-repeat;

        transform: rotate(-180deg);
        transition: transform .3s;
      }

      &:not(.active) {
        transition: .2s .25s ease;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }

      &:not(.active)::after {
        transform: rotate(0deg);
      }
    }

    &-body {
      background-color: #F7F7F7;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      transition: .3s ease;
      overflow-y: hidden;
      height: 0;
    }

    &-content {
      padding: 20px 30px;
    }
  }
}