.footer {
  background: #E9E9E9;
  padding-top: 31px;
  padding-bottom: 22px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__form {

    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 50px auto;
    grid-gap: 9px 30px;

    &-input{
      color: #363636;
      background: none;
      padding: 15px 30px;
      border-radius: 30px;
      border: 1px solid #363636;
      outline: none;

      &::placeholder{
        color: #363636;
      }
    }

    &-notific{
      color: #9E9E9E;
      grid-column: span 2;
    }
  }

  &__menu {
    @include displayFlex;
    padding-top: 19px;
    padding-bottom: 29px;

    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 20px;

    &-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      &>li:not(:first-child){
        margin-left: 30px;
      }

      &>li>a>img{
        display: block;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 19px;

      &__info {
        text-align: end;
      }
    }

  }
}
