.main__form{
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 50px auto;
  grid-gap: 9px 30px;
  margin-bottom: 24px;

  &-title{
    margin-bottom: 16px;
  }

  &-input{
    color: #363636;
    background: none;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #363636;
    outline: none;

    &::placeholder {
      color: #363636;
    }
  }

  &-notific {
    color: #9E9E9E;
    grid-column: span 2;
  }
}

