header {
  background-image: url(../img/main_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* header */
.header {
  padding-top: 30px;
  padding-bottom: 155px;
  color: $color__white;

  &__top {
    @include displayFlex;
  }

  &__offer {
    padding-top: 80px;
    max-width: 710px;
  
    &-heading {
      padding-bottom: 40px;
    }
  
    &-title {
      padding-bottom: 45px;
    }
  
    &_mobile {
      display: none;
    }
  }
}
