/* mobile hor 425px */
@media screen and (max-width: 1200px) {

  .container {
    width: 700px;
  }

  .btn {
    padding: 17px 35px;
    width: 280px;
  }

  .header {
    padding-bottom: 60px;
  }

  .heading {
    font-size: 26px;
    line-height: 31px;
  }

  .logo {
    width: 100px;
  }

  .navbar__link {
    padding-left: 30px;
    font-size: 14px;
    line-height: 17px;
  }

  .offer {
    width: 400px;
    padding-top: 55px;
  }

  .offer__title {
    font-size: 44px;
    line-height: 53px;
    padding-bottom: 40px;
  }

  .offer__text {
    font-size: 28px;
    line-height: 34px;
  }

  .description__item {
    flex-direction: row-reverse;
    padding-top: 25px;
    padding-bottom: 61px;

    position: relative;
  }

  .discription__heading {
    display: none;
  }

  .discription__heading-tablet {
    display: block;
    position: absolute;
    left: 0;
  }

  .discription__contant {
    margin-top: 56px;
    margin-left: 0px;
    margin-right: 22px;
    width: 280px;
  }

  .description__img {
    width: 398px;
    margin-left: 0px;
    margin-top: 45px;
  }

  .discription__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 31px;
  }

  .step__items {
    padding-top: 38px;
    padding-bottom: 56px;
    grid-gap: 36px 80px;
  }

  .step__item {
    height: 317px;
  }

  .step__img {
    width: 280px;
    padding-bottom: 25px;
  }

  .step__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
  }

  .step__text {
    font-size: 16px;
    line-height: 19px;
  }

  .step-care {
    padding: 30px 0px;
  }

  .step-care__title {
    font-size: 28px;
    line-height: 34px;
    width: 380px;
  }

  .call__content {
    padding: 32px 0px;
  }

  .call__left {
    width: 300px;
  }

  .call__title {
    font-size: 28px;
    line-height: 34px;
  }

  .call__text {
    font-size: 14px;
    line-height: 13px;
  }

  .call__form {
    width: 289px;
  }

  .call__input {
    border-radius: 30px;
    padding: 18px 17px;
  }

  .review {
    padding: 51px 0px;
  }

  .review__slider {
    margin-top: 31px;
  }

  .review__item {
    width: 280px;
    margin-right: 20px;
  }

  .review__content {
    margin-bottom: 10px;
  }

  .review__photo {
    width: 100px;
    height: 100px;
  }

  .review-about {
    margin-left: 18px;
  }

  .review-about__name {
    padding-bottom: 6px;
  }

  .review-about__company {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 4px;
  }

  .review__text {
    font-size: 10px;
    line-height: 12px;
  }

  .review-about__text {
    padding-bottom: 4px;
  }

  .slider__arrows {
    width: 17px;
  }

  .advantages {
    padding: 37px 0px;
  }

  .advantages__item {
    width: 100px;
    margin-right: 20px;
  }

  .advantages__imgs {
    height: 100px;
    margin-bottom: 16px;
  }

  .advantages__text {
    font-size: 12px;
    line-height: 14px;
  }

  .warranty {
    padding: 42px 0;
  }

  .warranty__items {
    padding-top: 17px;
  }

  .warranty__item {
    height: 305px;
    width: 220px;
    margin-right: 15px;
  }

  .warranty__imgs {
    height: 100px;
  }

  .warranty__title {
    margin-top: 18px;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 8px;
  }

  .warranty__text {
    font-size: 12px;
    line-height: 14px;
  }

  .warranty__btn {
    width: 220px;
  }

  .faq__body {
    padding-top: 41px;
    padding-bottom: 39px;
  }

  .faq__items {
    margin-top: 29px;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 9px;
  }

  .faq__item {
    padding-bottom: 0px;
  }

  .faq__text {
    width: inherit;
  }

  .faq__icon {
    margin-left: 60px;
  }

  .faq__drop {
    border-radius: 200px 200px 200px 200px;
    padding-right: 30px;
    padding-left: 30px;
    height: 48px;
  }

  .partners {
    padding-top: 22px;
    padding-bottom: 38px;
  }

  .partners__items>a:not(:last-child) {
    margin-right: 10px;
  }

  .partners__items>a>img {
    width: 66px;
  }

  footer {
    padding-top: 33px;
    padding-bottom: 14px;
  }

  .footer__line {
    width: 700px;
  }

  .footer__heading {
    font-size: 20px;
    line-height: 24px;
  }

  .footer__logo {
    width: 100px;
  }

  .footer__link {
    margin-right: 32px;
    font-size: 14px;
    line-height: 17px;
  }

  .footer__form {
    align-items: baseline;
  }

  .footer__form-input {
    width: 220px;
    height: 48px;
    font-size: 14px;
    line-height: 17px;
    padding: 18px 18px;
    margin-right: 20px;
    margin-bottom: 7px;
  }

  .footer__form-btn {
    height: 48px;
    padding: 16px 0px;
    width: 220px;
  }

  .footer__copy {
    padding-top: 15px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 14px;
  }

  .year {
    margin-left: 15px;
  }

  .footer__icons {
    margin-left: 75px;
    margin-right: 190px;
  }

  .footer__icons>a:not(:last-child) {
    margin-right: 16px;
  }

  .footer__icons>a>img {
    width: 13px;
  }

}

@media screen and (max-width: 767px) {
  header {
    background-position-x: -380px;
  }

  .header {
    padding-top: 38px;
    padding-bottom: 221px;
  }

  .container {
    width: 280px;
  }

  .navbar {
    display: none;
  }

  .burge-menu {
    display: block;
  }

  .offer {
    display: none;
  }

  .offer_mobile {
    display: block;
    background-color: $color__white;
    padding-top: 22px;
    padding-bottom: 27px;
  }

  .offer_mobile__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 8px;
  }

  .offer_mobile__text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    margin-bottom: 17px;
  }




  .discription__heading-tablet {
    display: none;
  }

  .description__item {
    padding: 17px 0px;
    position: inherit;
    flex-direction: column;
  }

  .description__img {
    width: 278px;
    margin-top: 0px;
  }

  .discription__heading {
    font-size: 17px;
    line-height: 22px;

    display: block;
    padding-bottom: 10px;
  }

  .discription__text {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 0;
    margin-bottom: 12px;
  }



  .discription__contant {
    margin-top: 26px;
    margin-right: 0;
  }


  .step__items {
    padding-top: 69px;
    padding-bottom: 32px;

    grid-template-columns: 1fr;
    grid-gap: 36px 140px;
  }

  .step-care {
    padding: 23px 0;
  }

  .step-care__title {
    width: inherit;

    font-size: 24px;
    line-height: 29px;

    margin-bottom: 9px;
  }

  .step-care__body {
    flex-direction: column;
  }







  .call__content {
    flex-direction: column;

    padding: 32px 0 7px;
  }

  .call__title {
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 11px;
  }

  .call__text {
    font-size: 14px;
    line-height: 13px;

    margin-bottom: 14px;
  }


  .call__left {
    width: inherit;
  }

  .call__form {
    width: inherit;
  }












  .review__item:last-child {
    display: none;
  }



  .advantages {
    padding: 23px 0 30px;
  }


  .advantages__items {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-top: 13px;
  }

  .advantages__item {
    width: 79px;
    margin-right: 14px;
  }


  .warranty__items {
    display: none;
  }


  .footer__burger-menu {
    display: block;
  }

  .footer__form {
    flex-direction: column;
  }

  .footer__line {
    width: 290px;
  }

  .footer__navbar {
    display: none;
  }

  .footer__copy {
    justify-content: space-between;
  }

  .footer__icons {
    display: none;
  }
}