.partners {
  padding-top: 60px;
  padding-bottom: 50px;

  &__slider {
    @include displayFlex;
  }

  &__wrapper {
    min-width: 980px;
    display: flex;
    justify-content: space-between;
  }

}

