.slider {
  @include displayFlex;

  &__wrapper {
    display: flex;
    transition: transform 0.5s;
    transform: translateX(0);
  }

  &__arrows {
    cursor: pointer;

    &:hover path {
      transition: all .5s ease;
      stroke: #008DCD;
    }
  }
}