$main_fonts: Myriad-pro;

$color__blue: #008DCD;
$color__white-blue: #94D1EC;
$color__orange: #FFCC00;
$color__white-orange: #FCE39C;
$color__dark: #363636;
$color__gray: #B3B3B3;
$color__white-gray: #E1E1E1;
$color__white: #fff